/* Navbar */
.navbar-brand a {
  margin: 20px auto;
}

.navSoc {
  display: none;
}

/* Jumbotron */
.jumbotron {
  padding-top: 9rem;
  background-color: #e2edff;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 -100px;
  color: #eaeaea;
}

/* Projects */
.projects {
  background-color: #e2edff;
}

/* RESPONSIVE */
@media only screen and (max-width: 992px) {
  .my-navbar {
    background-color: #1266F1 !important;
	}
}

@media only screen and (min-width:1200px){
  .navMain .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #fff;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }  
  .nav-item > .nav-link {
    padding: 8px 15px !important;
		display: block !important;
  }  
}